.create-post {
    padding: 2em;
    max-width: 600px;
}

.create-post h2 {
    text-align: center;
    font-size: 2.5em;
}

.create-post form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-post label {
    margin: 10px 0 5px;
}

.create-post input, .create-post textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.create-post textarea {
    height: 100px;
}

.create-post button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}

.create-post button:hover {
    background-color: #218838;
} 