#createPostButton {
  background-color: #a3c1da;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

#createPostButton:hover {
  background-color: #7da3b1;
  transition: background-color 0.3s;
}

#blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #333;
  padding: 20px;
}

.blog-container {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-container h2 {
  font-size: 2em;
  color: #a3c1da;
  padding: 0;
  margin: 0;
}

.blog-container ul {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 4em 2em 2em 2em;
}

.blog-container li {
  margin-bottom: 4em;
}

.blog-container p {
  line-height: 1.6;
}

#createPostButton {
  margin-bottom: 20px;
}
